@import "../css/root.css";

/* set up the body */

html,
body {
  font-family: var(--ff-roboto);
  padding: 0;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 1rem 1.2rem;
  width: 100%;
}

.header_text {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  animation-duration: 3s;
  animation-name: slidein;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  border: none;
  padding: 1.325rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  border: 1px solid #fff;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 40rem) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}
